
<div class="vh-100">
    <section class="d-flex h-100 justify-content-center align-items-center">
        <div class="col-12 col-sm-7 col-md-6 col-lg-5 col-xl-4 container_form p-5">
            <h4 class="pb-3 text-secondary">Crear usuario</h4>
            <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <input class="text-white w-100 p-2" name="email"  type="text" [placeholder]="'email'" formControlName="email">
                    <div *ngIf="emailControl?.invalid && emailControl?.touched">
                        <div class="text-danger" *ngIf="emailControl?.hasError('required')">email requerido</div>
                        <div class="text-danger" *ngIf="emailControl?.hasError('email')">Correo electrónico no es válido.</div> 
                    </div>
                </div>
                <div class="mb-4">
                    <input class="text-white w-100 p-2" name="password" type="password" [placeholder]="'password'" formControlName="password">
                    <div *ngIf="passwordControl?.invalid && passwordControl?.touched">
                        <div class="text-danger" *ngIf="passwordControl?.hasError('required')">password requerida.</div>
                       
                      </div>
                </div>
                <div class="mb-1">
                    <input class="text-white w-100 p-2 mb-1"name="passwordRoot"  type="password" [placeholder]="'password root'" formControlName="passwordRoot">
                    <div *ngIf="passwordRootControl?.invalid && passwordRootControl?.touched">
                        <div class="text-danger" *ngIf="passwordControl?.hasError('required')">password Root requerida.</div>
                       
                      </div>
                    <div  style="height: 30px;">
                        <span class="text-danger">{{message}}</span>
                    </div>
                   
                </div>
                <div class="mb-3">
                    <button *ngIf="!loading" [disabled]="miFormulario.invalid" type="submit" class="btn w-100 py-2">Crear usuario</button>
                    <button *ngIf="loading" class="btn w-100 py-2 " type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span class="visually-hidden" role="status">Loading...</span>
                    </button>
                </div>
            
                  

                <div class="text-center">
                    <span class=" crear-user  text-center">
                        <a class="text-color " [routerLink]="['/sing-in']">sing in</a>
                    </span>
                </div>
                
    
            </form>
    
        </div>
    </section>
</div>