<h4 *ngIf="list_orders_gestionAtr.length<=0" class="text-secondary text-center">
      No hay informacion para mostrar 
</h4>

<div *ngIf="list_orders_gestionAtr.length>0" >
    <div class="table-responsive">
       <table class="table table-dark table-striped">
            <thead class="">
                  <tr>
                        <th>No.</th>
                        <td>date</td>
                        <td>symbol</td>
                        <td>tick</td>
                        <td>ATR</td>
                        <td>trendDirection</td>
                        <td>Entry price</td>
                        <td>side</td>
                        <td>monedas</td>
                        <td>price Tp</td>
                        <td>price Sl</td>
                        <td>tp</td>
                        <td>sl</td>
                  </tr>
            </thead>
            <tbody class="table-group-divider">
                  <ng-container *ngFor="let order of list_orders_gestionAtr; let i=index">
                        <tr [ngClass]="{'table-success': order.side==='Buy',
                        'table-danger':order.side==='Sell'}" >
                              <td>{{i+1}}</td>
                              <td>{{order.date}}</td>
                              <td>{{order.symbol}}</td>
                              <td>{{order.tick}}</td>
                              <td>{{order.atr}}</td>
                              <td>
                                 
                                
                                   <div class="text-binance-last mb-1 d-block" [ngClass]="{'circleGreen': order.tendenciaDirection.trend==='long', 'circleRed': order.tendenciaDirection.trend==='short'}"></div>
                                 
                                    <span *ngIf="order.tendenciaDirection.trend==='short'">Bajista</span>
                                    <span *ngIf="order.tendenciaDirection.trend==='long'">Alcista</span>
                                   <span class="d-block">priceLinea: {{order.tendenciaDirection.value}}$</span>
                              </td>
                              <td>{{order.entryPrice}}$</td>             
                              <td>{{order.side}}</td>
                              <td>{{order.qty}} ({{(order.qty*order.entryPrice).toFixed(1)}}usdt)</td>
                              <td>{{order.tpPrecio}}$ <strong class="text-success">({{order.tpPorcentaje}}%)</strong></td>
                              <td>{{order.stopLossPrice}}$ <strong class="text-danger">(-{{order.distanciaPorcentajeSl}}%)</strong></td>
                              <td class="text-success">{{order.tp}}$</td>
                              <td class="text-danger">{{order.sl}}$</td>
      
                        </tr>
                  </ng-container>
                  
            </tbody>
       </table>

    </div>  
</div>