.input-basic_instancia{
    display: block;
   
    border: 1px solid #2c3034;
    border-radius: 5px;
   // padding: 12px;
    outline :none;
    color: white;
    background-color: #2c3034;
  }
  .input-basic_instancia_text{
    display: block;
    //width: 60px;
    border: 1px solid #2c3034;
    border-radius: 5px;
   // padding: 12px;
    outline :none;
    color: white;
    background-color: #2c3034;
  }
  input {
    width: auto;
  }
  .dropdown-item{
    cursor: pointer;
  }